In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler
import preprocess 
import pickle

C:\Users\minhu\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
calendar=pd.read_csv("m5-forecasting-accuracy/calendar.csv")
sales_eva=pd.read_csv("m5-forecasting-accuracy/sales_train_evaluation.csv")

In [4]:
calendar.columns

Index(['date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'd',
       'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI'],
      dtype='object')

In [5]:
%%time
# time features
time_feature=preprocess.time_feature(sales_eva,calendar)

Wall time: 31min 18s

In [11]:
time_feature.head()

,0,1,2,3,4,5,6,7,8,9,...,30492,30493,30494,30495,30496,30497,30498,30499,30500,30501
0,2011,1,29.0,1.0,1,1,1,1,1,0,...,0,14,1,0,4,0,0,0,0,0
1,2011,1,30.0,2.0,2,1,1,1,1,0,...,0,11,1,0,4,0,0,6,0,0
2,2011,1,31.0,3.0,3,1,1,1,1,0,...,0,5,1,0,2,2,0,0,0,0
3,2011,2,1.0,4.0,4,1,1,1,1,1,...,0,6,1,0,5,2,0,2,0,0
4,2011,2,2.0,5.0,5,1,1,1,1,1,...,0,5,1,0,2,0,0,2,0,0

In [10]:
%%time
# statistic
col_stat=preprocess.statistic_feature(sales_eva,7,"HOBBIES_1_004_CA_1")

Wall time: 11.1 s

In [13]:
col_stat.head(30)

   HOBBIES_1_004_CA_1  min_value  max_value  mean_value
0                   0        NaN        NaN         NaN
1                   0        NaN        NaN         NaN
2                   0        NaN        NaN         NaN
3                   0        NaN        NaN         NaN
4                   0        NaN        NaN         NaN
5                   0        NaN        NaN         NaN
6                   0        NaN        NaN         NaN
7                   0        0.0        0.0         0.0
8                   0        0.0        0.0         0.0
9                   0        0.0        0.0         0.0
10                  0        0.0        0.0         0.0
11                  0        0.0        0.0         0.0
12                  0        0.0        0.0         0.0
13                  0        0.0        0.0         0.0
14                  0        0.0        0.0         0.0
15                  0        0.0        0.0         0.0
16                  0        0.0        0.0         0.0
17                  0        0.0        0.0         0.0
18                  0        0.0        0.0         0.0
19                  0        0.0        0.0         0.0
20                  0        0.0        0.0         0.0
21                  0        0.0        0.0         0.0
22                  0        0.0        0.0         0.0
23                  0        0.0        0.0         0.0
24                  0        0.0        0.0         0.0
25                  0        0.0        0.0         0.0
26                  0        0.0        0.0         0.0
27                  0        0.0        0.0         0.0
28                  0        0.0        0.0         0.0
29                  0        0.0        0.0         0.0

In [6]:
col_stat=pd.read_csv("statistic_HOBBIES_1_004_CA_1.csv")

In [7]:
col_stat

      HOBBIES_1_004_CA_1  min_value  max_value  mean_value
0                      0        NaN        NaN         NaN
1                      0        NaN        NaN         NaN
2                      0        NaN        NaN         NaN
3                      0        NaN        NaN         NaN
4                      0        NaN        NaN         NaN
5                      0        NaN        NaN         NaN
6                      0        NaN        NaN         NaN
7                      0        0.0        0.0    0.000000
8                      0        0.0        0.0    0.000000
9                      0        0.0        0.0    0.000000
10                     0        0.0        0.0    0.000000
11                     0        0.0        0.0    0.000000
12                     0        0.0        0.0    0.000000
13                     0        0.0        0.0    0.000000
14                     0        0.0        0.0    0.000000
15                     0        0.0        0.0    0.000000
16                     0        0.0        0.0    0.000000
17                     0        0.0        0.0    0.000000
18                     0        0.0        0.0    0.000000
19                     0        0.0        0.0    0.000000
20                     0        0.0        0.0    0.000000
21                     0        0.0        0.0    0.000000
22                     0        0.0        0.0    0.000000
23                     0        0.0        0.0    0.000000
24                     0        0.0        0.0    0.000000
25                     0        0.0        0.0    0.000000
26                     0        0.0        0.0    0.000000
27                     0        0.0        0.0    0.000000
28                     0        0.0        0.0    0.000000
29                     0        0.0        0.0    0.000000
...                  ...        ...        ...         ...
1911                   7        0.0        5.0    2.000000
1912                   2        0.0        7.0    3.000000
1913                   0        0.0        7.0    2.571429
1914                   0        0.0        7.0    2.000000
1915                   1        0.0        7.0    1.857143
1916                   2        0.0        7.0    2.000000
1917                   4        0.0        7.0    2.142857
1918                   1        0.0        7.0    2.285714
1919                   6        0.0        4.0    1.428571
1920                   4        0.0        6.0    2.000000
1921                   0        0.0        6.0    2.571429
1922                   0        0.0        6.0    2.571429
1923                   0        0.0        6.0    2.428571
1924                   2        0.0        6.0    2.142857
1925                   2        0.0        6.0    1.857143
1926                   4        0.0        6.0    2.000000
1927                   2        0.0        4.0    1.714286
1928                   1        0.0        4.0    1.428571
1929                   1        0.0        4.0    1.571429
1930                   1        0.0        4.0    1.714286
1931                   1        1.0        4.0    1.857143
1932                   1        1.0        4.0    1.714286
1933                   0        1.0        4.0    1.571429
1934                   4        0.0        2.0    1.000000
1935                   0        0.0        4.0    1.285714
1936                   1        0.0        4.0    1.142857
1937                   3        0.0        4.0    1.142857
1938                   0        0.0        4.0    1.428571
1939                   2        0.0        4.0    1.285714
1940                   6        0.0        4.0    1.428571

[1941 rows x 4 columns]

In [11]:
%%time
# sequence statistic
col_seq=preprocess.slice(col_stat.iloc[7:].reset_index(),prefix="col_seq_HOBBIES_1_004_CA_1",feature_columns=[1,2,3])

Wall time: 2.18 s

In [12]:
col_seq

(array([[[0., 0., 0.],
         [0., 0., 0.],
         [0., 0., 0.],
         ...,
         [0., 0., 0.],
         [0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.],
         [0., 0., 0.],
         ...,
         [0., 0., 0.],
         [0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.],
         [0., 0., 0.],
         ...,
         [0., 0., 0.],
         [0., 0., 0.],
         [2., 0., 0.]],

        ...,

        [[3., 0., 5.],
         [7., 0., 5.],
         [2., 0., 7.],
         ...,
         [0., 0., 4.],
         [1., 0., 4.],
         [3., 0., 4.]],

        [[7., 0., 5.],
         [2., 0., 7.],
         [0., 0., 7.],
         ...,
         [1., 0., 4.],
         [3., 0., 4.],
         [0., 0., 4.]],

        [[2., 0., 7.],
         [0., 0., 7.],
         [0., 0., 7.],
         ...,
         [3., 0., 4.],
         [0., 0., 4.],
         [2., 0., 4.]]]), array([[0.        ],
        [0.        ],
        [0.28571429],
        ...,
        [1.42857143],
        [1.28571429],
        [1.42857143]]))

In [6]:
%%time
# sequence
seq=preprocess.seq(sales_eva,28,0,column="HOBBIES_1_004_CA_1")

Wall time: 11.1 s

In [6]:
%%time
# stat multiple day
stat_mul=preprocess.statistic_feature_multiple_days(sales_eva,7,"HOBBIES_1_004_CA_1")

Wall time: 11.1 s

In [4]:
#stat_mul_x=pd.read_csv("stat_7_HOBBIES_1_004_CA_1.csv")

In [5]:
#with open("stat_sales_HOBBIES_1_004_CA_1.pickle", 'rb') as fp:
#    stat_mul_y = pickle.load(fp)
#    fp.close()

In [7]:
%%time
# stat multiple day sequence
stat_mul_seq=preprocess.slice((stat_mul_x,stat_mul_y),prefix="col_mul_seq_HOBBIES_1_004_CA_1")

Wall time: 465 ms

In [5]:
%%time
# seq multiple day
seq_mul=preprocess.seq_multiple_days(sales_eva,7,0,"HOBBIES_1_004_CA_1")

Wall time: 12.9 s

In [5]:
%%time
# sequence for whole items and stores
#offset=1941-365*1-56
offset=1941-30*6-56
seq=preprocess.seq(sales_eva,28,offset)

Wall time: 28.8 s

In [8]:
%%time
# sequence and output multiple daysâ€™ prediction for whole items and stores
#offset=1941-365*2-56
offset=1941-30*1-56
preprocess.seq_multiple_days(sales_eva,28,offset)

Wall time: 14.2 s

(array([[[4, 0, 0, ..., 2, 0, 4],
         [2, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 1, 2, 2],
         ...,
         [2, 0, 0, ..., 0, 2, 5],
         [0, 1, 0, ..., 0, 1, 3],
         [1, 1, 1, ..., 2, 1, 2]],

        [[2, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 1, 2, 2],
         [2, 0, 0, ..., 2, 2, 0],
         ...,
         [0, 1, 0, ..., 0, 1, 3],
         [1, 1, 1, ..., 2, 1, 2],
         [1, 1, 1, ..., 0, 2, 0]],

        [[0, 0, 0, ..., 1, 2, 2],
         [2, 0, 0, ..., 2, 2, 0],
         [0, 0, 0, ..., 2, 2, 5],
         ...,
         [1, 1, 1, ..., 2, 1, 2],
         [1, 1, 1, ..., 0, 2, 0],
         [1, 1, 0, ..., 1, 4, 5]],

        ...,

        [[1, 1, 1, ..., 2, 1, 2],
         [1, 1, 1, ..., 0, 2, 0],
         [1, 1, 0, ..., 1, 4, 5],
         ...,
         [1, 0, 1, ..., 0, 0, 0],
         [1, 1, 1, ..., 1, 1, 0],
         [3, 0, 0, ..., 0, 0, 0]],

        [[1, 1, 1, ..., 0, 2, 0],
         [1, 1, 0, ..., 1, 4, 5],
         [1, 1, 0, ..., 1, 3, 7],
         ...,
         [1, 1, 1, ..., 1, 1, 0],
         [3, 0, 0, ..., 0, 0, 0],
         [0, 0, 1, ..., 0, 3, 0]],

        [[1, 1, 0, ..., 1, 4, 5],
         [1, 1, 0, ..., 1, 3, 7],
         [0, 0, 0, ..., 0, 0, 3],
         ...,
         [3, 0, 0, ..., 0, 0, 0],
         [0, 0, 1, ..., 0, 3, 0],
         [1, 0, 1, ..., 1, 1, 0]]], dtype=object),
 array([[[1, 1, 1, ..., 0, 2, 0],
         [1, 1, 0, ..., 1, 4, 5],
         [1, 1, 0, ..., 1, 3, 7],
         ...,
         [1, 1, 1, ..., 1, 1, 0],
         [3, 0, 0, ..., 0, 0, 0],
         [0, 0, 1, ..., 0, 3, 0]],

        [[1, 1, 0, ..., 1, 4, 5],
         [1, 1, 0, ..., 1, 3, 7],
         [0, 0, 0, ..., 0, 0, 3],
         ...,
         [3, 0, 0, ..., 0, 0, 0],
         [0, 0, 1, ..., 0, 3, 0],
         [1, 0, 1, ..., 1, 1, 0]],

        [[1, 1, 0, ..., 1, 3, 7],
         [0, 0, 0, ..., 0, 0, 3],
         [0, 0, 0, ..., 0, 0, 1],
         ...,
         [0, 0, 1, ..., 0, 3, 0],
         [1, 0, 1, ..., 1, 1, 0],
         [1, 0, 1, ..., 0, 3, 0]],

        ...,

        [[0, 0, 1, ..., 0, 3, 0],
         [1, 0, 1, ..., 1, 1, 0],
         [1, 0, 1, ..., 0, 3, 0],
         ...,
         [0, 1, 0, ..., 0, 6, 4],
         [0, 0, 0, ..., 1, 0, 0],
         [3, 0, 2, ..., 0, 1, 2]],

        [[1, 0, 1, ..., 1, 1, 0],
         [1, 0, 1, ..., 0, 3, 0],
         [0, 0, 0, ..., 0, 1, 0],
         ...,
         [0, 0, 0, ..., 1, 0, 0],
         [3, 0, 2, ..., 0, 1, 2],
         [3, 0, 3, ..., 1, 1, 2]],

        [[1, 0, 1, ..., 0, 3, 0],
         [0, 0, 0, ..., 0, 1, 0],
         [0, 1, 0, ..., 0, 3, 0],
         ...,
         [3, 0, 2, ..., 0, 1, 2],
         [3, 0, 3, ..., 1, 1, 2],
         [0, 0, 0, ..., 0, 1, 5]]], dtype=object))